<template>
    <div class="w-100 d-flex bg-purple white-text header align-items-center">
        <h1>Checkout</h1>
    </div>
</template>
<style scoped>
   .header {
      height: 130px;
      border-bottom: 1px solid #ddd;
      padding-left: 55px;
      color: #fff;
   }
</style>