<template>
    <div>
        <navbar/>
        <breadcrumbs/>
        <div v-if="mainLink === 'orders'">
            <OrderNavbar/>
            <orderList    v-if="underLink === 'today'"/>
            <CancelOrders v-if="underLink === 'canceled'"/>
            <OrderHistory v-if="underLink === 'history'"/>
        </div>
        <div v-if="mainLink === 'stock'">
            <StockNavbar/>
            <productList/>
        </div>
    </div>
</template>
<script>
    import Navbar from './navbar.vue'
    import Breadcrumbs from './breadcrumbs.vue';
    import OrderNavbar from './ordersNavbar.vue';
    import StockNavbar from './stockNavbar.vue';
    import ProductList from './productList.vue';
    import OrderList from './orderList';
    import CancelOrders from './cancelOrdersList.vue';
    import OrderHistory from './orderListHistory.vue';
    export default {
        components: {
            Navbar,
            Breadcrumbs,
            OrderNavbar,
            StockNavbar,
            ProductList,
            OrderList,
            CancelOrders,
            OrderHistory
        },

        data(){
            return {
                mainLink: 'orders',
                underLink: 'today'
            }
        },

        mounted() {
             window.Bus.$on('router', link => {
                this.mainLink = link;
            });

             window.Bus.$on('under-router', link => {
                this.underLink = link;
            });

            this.underLink = 'today';
        }
    }
</script>
