<template>
    <div class="w-100 bg-purple white-text">
        <nav>
            <ul class="font-weight-bold">
                <li @click="router('orders')" :class="{ active: link === 'orders' }">ORDERS</li>
                <li @click="router('stock')" :class="{ active: link === 'stock' }">OUR STOCK</li>
            </ul>
        </nav>
    </div>
</template>
<script>
    export default {

        data(){
            return {
                link: 'orders'
            }
        },

        methods: {
            router(link){
                this.link = link;
                window.Bus.$emit('router', link);
            }
        }
    }
</script>
<style scoped>
    
   nav {
      height: 65px;
      line-height: 65px;
      border-bottom: 1px solid #2c8552;
   }

   li {
       display: inline;
       color: #fff;
       padding-left: 20px;
       padding-right: 20px;
       font-size: 13px;
       cursor: pointer;
   }

   .active {
       border-bottom: 2px solid #fff;
       padding-bottom: 22px;
   }

</style>