<template>
    <div class="custom-container mt-5">
        <table class="table"> 
            <thead>
                <th>Customer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Created at</th>
                <th></th>
            </thead>
            <tr v-for="(order, index) in orders" :key="index">
                <td>{{ order.orders[0].member_id }}</td>
                <td>{{ order.name }}</td>
                <td class="tex-center">{{ order.quantity }}</td>
                <td><span v-if="order.is_price">{{ order.price }}</span><span v-else>{{ order.type }}</span></td>
                <td>{{ order.created_at }}</td>
                <td><i class="fas fa-ellipsis-h purple" @click="toggleMeny(order, index)"></i>
                    <div class="dropdown-nav" v-if="showIndex === index && showMeny">
                        <ul>
                            <li @click="stopOrder(order)"><i class="fas fa-trash-alt"></i> Cancel order</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
        <AddOrder v-if="showNewOrder" :products="products"/>
    </div>
</template>
<script>
    import { fetchOrders, cancelOrder } from '../api/services/orders.js';
    import { fetchProducts } from '../api/services/products.js';
    import AddOrder from './modals/addOrder.vue';
    
    export default {
        data(){
            return {
                orders: [],
                products: [],
                product: {},
                showNewOrder: false,
                showIndex: null,
                showMeny: false,
            }
        },

        components: {
            AddOrder
        },

        mounted(){
            window.Bus.$on('hide-add-product-modal', data => {
                this.getProducts();
            });
            window.Bus.$on('hide-update-product-modal', data => {
                this.getProducts();
                this.toggleUpdateModal();
            });
            window.Bus.$on('show-add-new-sale', data => {
                this.showNewOrder = true;
            });
             window.Bus.$on('hide-add-new-sale', data => {
                this.showNewOrder = false;
                this.getOrders();
            });
            this.getOrders();
            this.getProducts();
        },

        methods: {
            async getOrders() {
                const response = await fetchOrders().catch(error => { throw Error(error)});
                this.setOrders(response);
            },
            async getProducts() {
                const response = await fetchProducts().catch(error => { throw Error(error)});
                this.setProducts(response);
            },
            setProducts(products){
                this.products = products;
            },
            setOrders(orders){
                this.orders = orders;
            },
            toggleMeny(product, index){
                this.showIndex = index;
                this.showMeny = !this.showMeny;
            },

            editProduct(product){
                this.product = product;
                this.showMeny = false;
                this.toggleUpdateModal();
            },

            async stopOrder(order){
                const response = await cancelOrder(order).catch(error => { throw Error(error) });
                this.showMeny = false;
                this.getOrders();
            },

            toggleUpdateModal(){
                this.showUpdate = !this.showUpdate;
            }
        }
    }
</script>
<style scoped>

    table th {
        text-transform: uppercase;
    }

    .table tr {
        border: 2px solid #ddd;
    }

    table tr:nth-child(odd){
        background: #eee;
    }

    thead {
        border: 2px solid #ddd;
    }

    .custom-container {
        padding-left: 55px;
        padding-right: 55px;
    }

    .purple{
        color: #3AAF6D;
        font-size: 20px;
    }

    .dropdown-nav {
        width: 189px;
        background: #fff;
        position: absolute;
        margin-left: -102px;
        box-shadow: 0 0 5px #3AAF6D;
        padding-left: 15px;
        padding-top: 15px;
    }

     .dropdown-nav ul {
        padding: 0;
     }

    .dropdown-nav ul li i {
        padding-right: 10px;
    }

    .dropdown-nav ul li {
        display: block;
        padding: 5px;
        cursor: pointer;
    }
</style>