<template>
    <div class="w-100 bg-white white-text">
        <nav class="d-flex justify-content-between">
            <ul class="font-weight-bold">
                <li :class="{'active': link === 'today'}" @click="router('today')">ORDERS TODAY</li>
                <li :class="{'active': link === 'canceled'}" @click="router('canceled')">CANCLED ORDERS</li>
                <li :class="{'active': link === 'history'}" @click="router('history')">ORDER HISTORY</li>
            </ul>
            <button class="btn btn-purple bg-purple font-weight-bold" v-if="link === 'today'" @click="show">ADD NEW SALE</button>
        </nav>
    </div>
</template>
<script>
    export default {

        data(){
            return {
                link: 'today'
            }
        },

        methods: {
            show() {
                window.Bus.$emit('show-add-new-sale');
            },

            router(link){
                window.Bus.$emit('under-router', link);
                this.link = link;
            }
        }
    }
</script>
<style scoped>
    
   nav {
      height: 65px;
      line-height: 65px;
      border-bottom: 1px solid #C9C9C9;
      padding-right: 55px;
   }

   li {
       display: inline;
       color: #444444;
       padding-left: 20px;
       padding-right: 20px;
       font-size: 13px;
       cursor: pointer;
   }

    .btn {
        color: #fff;
        max-height: 50px;
        margin-top: 5.3px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .active{
        color: #3AAF6D;
        border-bottom: 2px solid #3AAF6D;
        padding-bottom: 22px;
    }

</style>