<template>
    <div class="custom-container mt-5">
        <table class="table">
            <thead>
                <th>Customer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Created at/Canceled at</th>
            </thead>
            <tr v-for="(order, index) in orders" :key="index" :class="{'red': order.deleted_at }">
                <td>{{ order.orders[0].member_id }}</td>
                <td>{{ order.name }}</td>
                <td class="tex-center">{{ order.quantity }}</td>
                <td><span v-if="order.deleted_at">-</span> <span v-if="order.is_price">{{ order.price }}</span><span v-else>{{ order.type }}</span></td>
                <td>{{ order.created_at }}</td>
            </tr>
        </table>
    </div>
</template>
<script>
    import { fetchOrders, cancelOrder, fetchCancelOrders, fetchOrderHistory } from '../api/services/orders.js';
    import { fetchProducts } from '../api/services/products.js';
    export default {
        data(){
            return {
                orders: [],
                products: [],
                product: {},
                showNewOrder: false,
                showIndex: null,
                showMeny: false,
            }
        },
        mounted(){
            window.Bus.$on('show-add-new-sale', data => {
                this.showNewOrder = true;
            });
             window.Bus.$on('hide-add-new-sale', data => {
                this.showNewOrder = false;
                this.getOrders();
            });
            this.getOrders();
        },

        methods: {
            async getOrders() {
                const response = await fetchOrderHistory().catch(error => { throw Error(error)});
                console.log('da', response);
                this.setOrders(response);
            },
            
            setProducts(products){
                this.products = products;
            },
            setOrders(orders){
                this.orders = orders;
            },
            toggleMeny(product, index){
                this.showIndex = index;
                this.showMeny = !this.showMeny;
            },
            
            toggleUpdateModal(){
                this.showUpdate = !this.showUpdate;
            }
        }
    }
</script>
<style scoped>

    table th {
        text-transform: uppercase;
    }

    .table tr {
        border: 2px solid #ddd;
    }

    table tr:nth-child(odd){
        background: #eee;
    }

    thead {
        border: 2px solid #ddd;
    }

    .red {
        color: red;
    }

    .custom-container {
        padding-left: 55px;
        padding-right: 55px;
    }

    .purple{
        color: #3AAF6D;
        font-size: 20px;
    }

    .dropdown-nav {
        width: 189px;
        background: #fff;
        position: absolute;
        margin-left: -102px;
        box-shadow: 0 0 5px #3AAF6D;
        padding-left: 15px;
        padding-top: 15px;
    }

     .dropdown-nav ul {
        padding: 0;
     }

    .dropdown-nav ul li i {
        padding-right: 10px;
    }

    .dropdown-nav ul li {
        display: block;
        padding: 5px;
        cursor: pointer;
    }
</style>