<template>
    <div class="custom-container mt-5">
        <table class="table"> 
            <thead>
                <th>Name</th>
                <th>Cost</th>
                <th>Quantity in stock</th>
                <th>Created at</th>
                <th></th>
            </thead>
            <tr v-for="(product, index) in products" :key="index">
                <td>{{ product.name }}</td>
                <td><span v-if="product.is_price">{{ product.price }}</span><span v-else>{{ product.type }} {{ product.price }}</span></td>
                <td>{{ product.in_stock }} <span v-if="product.is_gram"> (in gram)</span></td>
                <td>{{ product.created_at }}</td>
                <td><i class="fas fa-ellipsis-h purple" @click="toggleMeny(product, index)"></i>
                    <div class="dropdown-nav" v-if="showIndex === index && showMeny">
                        <ul>
                            <li @click="editProduct(product)"><i class="fas fa-pencil-alt"></i> Edit</li>
                            <li><i class="fas fa-trash-alt"></i> Delete</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
       <updateProduct v-if="showUpdate" :product="product"/>
    </div>
</template>
<script>
    import { fetchProducts } from '../api/services/products.js';
    import UpdateProduct from './modals/updateProduct.vue';
    export default {
        data(){
            return {
                products: [],
                product: {},
                showUpdate: false,
                showIndex: null,
                showMeny: false,
            }
        },

        components: {
            UpdateProduct
        },

        mounted(){
            window.Bus.$on('hide-add-product-modal', data => {
                this.getProducts();
            });
            window.Bus.$on('hide-update-product-modal', data => {
                this.getProducts();
                this.toggleUpdateModal();
            });
            this.getProducts();
        },

        methods: {
            async getProducts() {
                const response = await fetchProducts().catch(error => { throw Error(error)});
                this.setProducts(response);
            },
            setProducts(products){
                this.products = products;
            },
            toggleMeny(product, index){
                this.showIndex = index;
                this.showMeny = !this.showMeny;
            },

            editProduct(product){
                this.product = product;
                this.showMeny = false;
                this.toggleUpdateModal();
            },

            toggleUpdateModal(){
                this.showUpdate = !this.showUpdate;
            }
        }
    }
</script>
<style scoped>

    table th {
        text-transform: uppercase;
    }

    .table tr {
        border: 2px solid #ddd;
    }

    table tr:nth-child(odd){
        background: #eee;
    }

    thead {
        border: 2px solid #ddd;
    }

    .custom-container {
        padding-left: 55px;
        padding-right: 55px;
    }

    .purple{
        color: #3AAF6D;
        font-size: 20px;
    }

    .dropdown-nav {
        width: 189px;
        background: #fff;
        position: absolute;
        margin-left: -102px;
        box-shadow: 0 0 5px #3AAF6D;
        padding-left: 15px;
        padding-top: 15px;
    }

     .dropdown-nav ul {
        padding: 0;
     }

    .dropdown-nav ul li i {
        padding-right: 10px;
    }

    .dropdown-nav ul li {
        display: block;
        padding: 5px;
        cursor: pointer;
    }
</style>