<template>
    <div class="container mt-5">
    <div class="form-group col-6">
    <h3>Create new account</h3>
    </div>
        <div class="form-group col-6">
        <div class="alert alert-danger" role="alert" v-if="notMatch">
           The password and confirm password field does not match!
        </div>
        <div class="alert alert-success" role="alert" v-if="success">
            The new user has been successfully registered.
        </div>
        </div>
        <div class="form-group col-6">
            <label for="name" class="font-weight-bold custom-label">Fullname</label>
            <input type="text" class="form-control" id="name" v-model="form.name">
        </div>
        <div class="form-group col-6">
             <label for="name" class="font-weight-bold custom-label">E-mail</label>
             <input type="text" class="form-control" id="name" v-model="form.email">
        </div>
        <div class="form-group col-6">
            <label for="type" class="font-weight-bold custom-label">Password (At least 6 character)</label>
            <input type="password" class="form-control" id="type" v-model="form.password">
        </div>
        <div class="form-group col-6">
            <label for="type" class="font-weight-bold custom-label">Confirm password</label>
            <input type="password" class="form-control" id="type" v-model="form.password_confirmation">
        </div>
        <div class="form-group col-6">
            <button class="btn btn-purple font-weight-bold" @click="addUser(form)">SAVE NEW USER</button>
        </div>
         
    </div>
</template>
<script>
    import { registerUser } from '../api/services/register.js';
    export default {
    
        data(){
            return {
                notMatch: false,
                success: false,
                form: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                }
            }
        },

        mounted() {
             window.Bus.$on('router', link => {
                this.mainLink = link;
            });

             window.Bus.$on('under-router', link => {
                this.underLink = link;
            });

            this.underLink = 'today';
        },

        methods: {
            async addUser(data){
                if(data.password === data.password_confirmation){
                    this.notMatch = false;
                    const response = await registerUser(data).catch(error => { throw Error(error )});
                    this.form =  {
                        name: '',
                        email: '',
                        password: '',
                        password_confirmation: '',
                    }
                    this.success = true;
                    this.toggleSuccessMessage();
                }else{
                    this.notMatch = true;
                }
            },
            toggleSuccessMessage(){
               setTimeout(function(){ 
                   this.success = false;
                }, 3000);
            }
        }
    }
</script>
<style>
    input {
        padding: 25px !important;
        border: 1px solid #3AAF6D !important;
        border-radius: 10px;
    }

    .btn-purple {
        background: #3AAF6D;
        color: #fff;
        padding: 15px;
    }
</style>
