<template>
    <div class="w-100 bg-white white-text">
        <nav class="d-flex justify-content-between">
            <ul class="font-weight-bold">
                <li :class="{'active': link === 'all'}">ALL PRODUCTS</li>
                <!--<li>OUT OF STOCK</li>-->
            </ul>
            <button class="btn btn-purple bg-purple font-weight-bold" @click="toggleModal">ADD NEW PRODUCT</button>
        </nav>
        <addProduct v-if="showModal"/>
    </div>
</template>
<script>
    import AddProduct from './modals/addProduct.vue';
    export default{
         components: {
            AddProduct
        },

        mounted(){
            window.Bus.$on('hide-add-product-modal', data => {
                this.showModal = false;
            });
        },

        data(){
            return {
                showModal: false,
                link: 'all'
            }
        },
        methods: {
            toggleModal(){
                this.showModal = !this.showModal;
            },

            router(link){
                this.link = link;
            }
        }
    }
  
</script>
<style scoped>
    
   nav {
      height: 65px;
      line-height: 65px;
      border-bottom: 1px solid #C9C9C9;
      padding-right: 55px;
   }

   li {
       display: inline;
       color: #444444;
       padding-left: 20px;
       padding-right: 20px;
       font-size: 13px;
       cursor: pointer;
   }

    .btn {
        color: #fff;
        max-height: 50px;
        margin-top: 5.3px;
        padding-left: 25px;
        padding-right: 25px;
    }

     .active{
        color: #3AAF6D;
        border-bottom: 2px solid #3AAF6D;
        padding-bottom: 22px;
    }

</style>