
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,500,700,900');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

.sidebar {
  width: 20%;
  min-width: 350px;
  min-height: 100vh;
  background: #FFFFFF;
  border-right: 1px solid #ddd;
  position: relative;

  header {
    width: 100%;
    height: 194px;
    background: #3AAF6D;
    text-align: center;

    h4 {
      text-transform: uppercase;
      font-size: 20px;
    }

    .image {
      width: 100%;
      text-align: center;

      .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        box-shadow: 0 0 5px rgb(37, 37, 37);
        margin-top: 100px;
      }
    } 
  }
  ul {
    margin-top: 120px;
    text-transform: uppercase;

    li {
      display: block;
      cursor: pointer;
      padding-bottom: 15px;
    }
  }
  .logout {
    position: relative;
    bottom: 0;
    text-transform: uppercase;
    color: #3AAF6D;
  }

  .bottom {
    margin-top: 40vh;
  }
}


.main-page {
  width: 100%;
}


.bg-purple {
  background: #3AAF6D !important;
}