<template>
    <div class="overlay d-flex justify-content-center">
        <div class="modal-box mt-5">
            <div class="mb-5">
                <h4>CREATE ORDER</h4>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="member_id" class="font-weight-bold custom-label">Member ID</label>
                    <input type="text" class="form-control" id="member_id" v-model="form.member_id">
                </div>
                <div class="form-group col-6">
                    <label for="product" class="font-weight-bold custom-label">Select product <span style="color: green; font-size: 20px">{{ selectedProduct.name }}</span></label>
                    <select class="form-control border-green" v-model="selectedProduct">
                        <option v-for="(product, index) in products" :value="product" :selected="product == selectedProduct ? 'selected' : ''">{{ product.name }}</option>
                    </select>
                </div>
                <div class="form-group col-12" v-if="selectedProduct && selectedProduct.is_gram">
                    <label for="price" class="font-weight-bold custom-label">Amount</label>
                    <input type="number" class="form-control" id="price" v-model="form.quantity">
                </div>
                 <div class="form-group col-12" v-if="selectedProduct && !selectedProduct.is_gram">
                    <label for="price" class="font-weight-bold custom-label">Quantity</label>
                    <input type="number" class="form-control" id="price" v-model="form.quantity">
                </div>
                <div class="form-group col-6" v-for="(product, index) in form.products" :key="index">
                    <div class="box">
                        <div class="d-flex justify-content-between">
                            <div>{{ product.name }}</div>
                            <div>{{ product.quantity }} <span v-if="product.is_gram">€</span></div>
                            <div>{{ product.justQuantity }}</div>
                            <div>€/G {{ product.price }}</div>
                        </div>
                        <div class="remove d-flex align-items-center justify-content-center" @click="remove(index)">X</div>
                    </div>
                </div>
                <div class="col-12 text-right mt-4">
                    <h4 class="font-weight-bold">€ {{ totalPrice }}</h4>
                </div>
                <div class="col-12 text-right ">
                    <button class="btn btn-danger font-weight-bold" @click="cancel()">CANCEL</button>
                    <button class="btn btn-purple font-weight-bold" :disabled="!selectedProduct" @click="placeProduct(selectedProduct)">ADD PRODUCT</button>
                    <button class="btn btn-purple font-weight-bold" :disabled="form.products.length === 0" @click="placeOrder(form)">PLACE ORDER</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { placeOrder } from '../../api/services/orders.js';
    export default {
        props: ['products'],
       data(){
           return {
               selectedProduct: '',
               product: {
                    id: null,
                    name: '',
                    price: 0,
                    type: '',
                    discount: 0,
                    quantity: 1,
                    justQuantity: 0,
                    is_gram: false,
                    is_price: false,
               },
               showPrice: 0,
               showGram: 0,
               totalPrice: 0,
                form: {
                    member_id: null,
                    products:[],
                    discount: 0,
                    quantity: 0,
                    paidAtDesk: true,
                    free: false,
                    name: null,
                    price: null
                }
           }
       },

       methods: {
           cancel(){
                window.Bus.$emit('hide-add-new-sale');
           },

           placeProduct(product){
               this.product.id          = product.id;
               this.product.name        = product.name;
               this.product.price       = product.price;
               this.product.type        = product.type;
               this.product.discount    = this.form.discount;
               this.product.quantity    = this.form.quantity;
               this.product.justQuantity = 0;
               this.product.paidAtDesk  = this.form.paidAtDesk;
               this.product.free        = this.form.free;
               this.product.is_gram     = product.is_gram;
               this.product.is_price    = product.is_price;

               this.form.products.push(this.product);
               this.product = {
                    name: '',
                    price: '',
                    discount: 0,
                    quantity: 1,
                    is_gram: false,
                    is_price: false,
               }
               this.selectedProduct = '';
               this.form.quantity = 1;
               this.calculateTotalPrice();
           },

           remove(index){
                this.form.products.splice(index, 1);
                this.calculateTotalPrice();
           },

           calculateTotalPrice(){
              let gram = 0;
              let price = 0; //Total price for the whole order 
              let gramPrice = 0; //Total price for all gram ordered products 
              for(let i = 0; i < this.form.products.length; i++){

                    if(this.form.products[i].is_gram){
                        //gram for gram product
                        gram =  gram + parseInt(this.form.products[i].quantity).toFixed(2) / parseInt(this.form.products[i].price).toFixed(2);
                        gramPrice = gramPrice + parseInt(this.form.products[i].price).toFixed(2) * parseInt(this.form.products[i].quantity).toFixed(2) / parseInt(this.form.products[i].price).toFixed(2);
                        this.form.products[i].justQuantity = parseInt(this.form.products[i].quantity).toFixed(2) / parseInt(this.form.products[i].price).toFixed(2);
                    }else{
                        //Price for quantity products
                        price = price + parseInt(this.form.products[i].price).toFixed(2) * parseInt(this.form.products[i].quantity).toFixed(2);
                    }
              }
              this.showPrice = price.toFixed(2);
              this.showGram = gram.toFixed(2);
              this.totalPrice = (gramPrice + price).toFixed(2);
           },

           async placeOrder(form){
                const response = await placeOrder(form).catch(error => { throw Error(error)});
                window.Bus.$emit('hide-add-new-sale');
           }
       }
    }
</script>
</script>
<style scoped>

    .modal-box {
        padding: 30px;
        width: 50%;
        height: 580px;;
        overflow: auto;
        background: #fff;
        border-radius: 15px;
    }

    .overlay {
        background: rgba(000,000,000, 0.6);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    h4 {
        color: #3AAF6D;
    }

    .custom-label {
        text-transform: uppercase;
    }

   input, select {
        padding: 20px;
        border: 1px solid #3AAF6D;
        border-radius: 10px;
    }

    .btn {
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .btn-purple {
        background: #3AAF6D;
        color: #fff;
    }

    .box {
        width: 100%;
        padding: 15px;
        background: #318E5A;
        float: left;
        border-radius: 10px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }

    .remove {
        position: absolute;
        right: 5px;
        top: -13px;
        background: #318E5A;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        cursor: pointer;
    }

</style>