<template>
    <div class="overlay d-flex justify-content-center">
        <div class="modal-box mt-5">
            <div class="mb-5">
                <h4>ADD NEW PRODUCT</h4>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label for="name" class="font-weight-bold custom-label">Product name</label>
                    <input type="text" class="form-control" id="name" v-model="form.name">
                </div>
                <div class="form-group col-6">
                    <label for="name" class="font-weight-bold custom-label">Product price</label>
                    <input type="text" class="form-control" id="name" v-model="form.price">
                </div>
                <div class="form-group col-6">
                    <label for="type" class="font-weight-bold custom-label">Price type</label>
                    <input type="text" class="form-control" id="type" v-model="form.type">
                </div>
                <div class="form-group col-12">
                    <label for="name" class="font-weight-bold custom-label">Product quantity in stock</label>
                    <input type="number" class="form-control" id="name" v-model="form.in_stock">
                </div>
                <div class="form-group col-6">
                    <label for="name" class="font-weight-bold custom-label">Is in gram?</label><br>
                    <input type="checkbox" id="name" v-model="form.is_gram">Yes
                </div>
                 <div class="form-group col-6">
                    <label for="name" class="font-weight-bold custom-label">Show price in report?</label><br>
                    <input type="checkbox" id="name" v-model="form.is_price">Yes
                </div>
                <div class="col-12 text-right">
                    <button class="btn btn-danger font-weight-bold" @click="cancel()">CANCEL</button>
                    <button class="btn btn-purple font-weight-bold" @click="addProduct(form)">SAVE</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { saveProduct } from '../../api/services/products.js';
    export default {
       data(){
           return {
                form: {
                    name: null,
                    price: null,
                    in_stock: null,
                    is_gram: false,
                    is_price: false,
                    type: null
                }
           }
       },

       methods: {
           addProduct: async(form) => {
               const response = await saveProduct(form).catch(error => { throw Error(error)});
               window.Bus.$emit('hide-add-product-modal');
           },

           cancel(){
                window.Bus.$emit('hide-add-product-modal');
           }
       }
    }
</script>
</script>
<style scoped>

    .modal-box {
        padding: 30px;
        width: 50%;
        height: 556px;
        overflow: auto;
        background: #fff;
        border-radius: 15px;
    }

    .overlay {
        background: rgba(000,000,000, 0.6);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    h4 {
        color: #3AAF6D;
    }

    .custom-label {
        text-transform: uppercase;
    }

    input {
        padding: 25px;
        border: 1px solid #3AAF6D;
        border-radius: 10px;
    }

    .btn {
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .btn-purple {
        background: #3AAF6D;
        color: #fff;
    }

</style>